@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  background: #49579e;
  background: -webkit-linear-gradient(
    to top,
    #49579e 0%,
    #15076b 42%,
    #17024a 76%
  );
  background: -moz-linear-gradient(
    to top,
    #49579e 0%,
    #15076b 42%,
    #17024a 76%
  );
  background: linear-gradient(to top, #49579e 0%, #15076b 42%, #17024a 76%);
  font-weight: 200;
}
h1 {
  margin: 20px auto 10px auto;
  text-shadow: rgba(230, 230, 230, 0.4);
  font-weight: 300;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
}
a {
  color: #a9cde0;
  font-weight: 500;
}
.bold {
  font-weight: 400;
}
.container {
  background: rgba(53, 15, 124, 0.3);
  max-width: 85%;
  border: 1px solid #ffffff;
  border-radius: 8px;
  margin: 20px auto;
  padding: 20px 20px;
}

.temperature {
  display: inline-block;
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: 0;
  line-height: 100px;
}
.superscript {
  display: inline;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0 0 0 10px;
  position: relative;
  top: -1em;
}

.cond-icon {
  display: inline-block;
  font-size: 3.5rem;
  margin-bottom: 0;
  margin-right: 10px;
  line-height: 100px;
}
.button {
  border-radius: 4px;
  padding: 0 5px 0 5px;
}
.input-text {
  border-radius: 4px;
}
.inactive {
  color: #ffffff;
  text-decoration: none;
}
.inactive:hover {
  cursor: initial;
}
body.light {
  background: #abeaf9;
  background: -webkit-linear-gradient(top, #abeaf9, #49579e);
  background: -moz-linear-gradient(top, #abeaf9, #49579e);
  background: linear-gradient(to bottom, #abeaf9, #49579e);
}
