@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  background: #49579e;
  background: -webkit-linear-gradient(
    to top,
    #49579e 0%,
    #15076b 42%,
    #17024a 76%
  );
  background: -moz-linear-gradient(
    to top,
    #49579e 0%,
    #15076b 42%,
    #17024a 76%
  );
  background: linear-gradient(to top, #49579e 0%, #15076b 42%, #17024a 76%);
}
h1 {
  margin: 20px auto 10px auto;
}
.container {
  background: rgba(21, 7, 107, 0.25);
  max-width: 85%;
  border: 1px solid #ffffff;
  border-radius: 8px;
  margin: 20px auto;
  padding: 20px 20px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p.temperature {
  display: inline-block;
  font-size: 4rem;
  font-weight: 400;
}
.superscript {
  display: inline;
  font-size: 1rem;
  padding: 0;
  position: relative;
  top: -1em;
}
footer {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
}
